.p {
  width: 30%;
  height: 40vh;
  margin: 20px 10px;
  border: 3px solid #2b6777;
  border-radius: 10px;
  overflow: hidden;
}

.p-browser {
  height: 20px;
  background-color: #f2f2f2;
  display: flex;
  border-radius: 7px;
  align-items: center;
}

.p-circle {
  height: 6px;
  width: 6px;
  border-radius: 50%;
  margin: 3px;
  background-color: #ffffff;
}

.p-img {
  width: 100%;
}
