.a {
  height: 100vh;
  display: flex;
  align-items: center;
}

.a-left {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100%;
}

.a-right {
  flex: 1;
}

.a-card.bg {
  position: absolute;
  top: 50px;
  left: 50px;
  background-color: #2b6777;
}

.a-card {
  width: 60%;
  height: 70vh;
  border-radius: 30px;
  overflow: hidden;
}

.a-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
}

.a-award-img {
  width: 150px;
  height: 150px;
  border-radius: 20px;
}

.a-title {
  font-weight: 400;
}

.a-sub {
  margin: 10px 0px;
}

.a-desc {
  font-weight: 300;
}

.a-award {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.a-award-texts {
  width: 70%;
}

.a-award-title {
  font-weight: bold;
  margin-bottom: 10px;
}
